# üè´ Previs√£o de Evas√£o Escolar durante Ensino M√©dio
## üìö Importando bibliotecas que ser√£o utilizadas

In [11]:
import pandas as pd
from IPython.display import Markdown

## üìñ Lendo os arquivos csv
### `rend_escolas_2022`: 
- Convertendo aquivo no formato 'xlsx' para 'csv'.

In [12]:
read_file_rend_escolas_2022 = pd.read_excel('dados/tx_rend_escolas_2022.xlsx')
read_file_rend_escolas_2022.to_csv('dados/rend_escolas_2022.csv')

In [30]:
REND_BASICA_2022_PATH = ('dados/rend_escolas_2022.csv')
rend_escolas_2022_original_df = pd.read_csv(REND_BASICA_2022_PATH)
rend_escolas_2022_original_df.head(5)

C:\Users\gabri\AppData\Local\Temp\ipykernel_15200\2388768484.py:2: DtypeWarning: Columns (1,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  rend_escolas_2022_original_df = pd.read_csv(REND_BASICA_2022_PATH)

,Unnamed: 0.1,Unnamed: 0,Minist√©rio da Educa√ß√£o,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,0,NaN,Instituto Nacional de Estudos e Pesquisas Educ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"Taxas de Rendimento Escolar (Aprova√ß√£o, Reprov...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Ano,Regi√£o,UF,C√≥digo do Munic√≠pio,Nome do Munic√≠pio,C√≥digo da Escola,Nome da Escola,Localiza√ß√£o,Depend√™ncia Administrativa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### `microdados_ed_basica_2022`:
- Lendo o arquivo e alterando para `encoding=latin-1`.

In [31]:
ED_BASICA_2022_PATH = ('dados/microdados_ed_basica_2022.csv')
ed_basica_2022_original_df = pd.read_csv(ED_BASICA_2022_PATH, sep=';', encoding='latin-1')
ed_basica_2022_original_df.head(5)

C:\Users\gabri\AppData\Local\Temp\ipykernel_15200\2478253251.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  ed_basica_2022_original_df = pd.read_csv(ED_BASICA_2022_PATH, sep=';', encoding='latin-1')

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
0,2022,Norte,1,Rond√¥nia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022,Norte,1,Rond√¥nia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,0.0,0.0,0.0,0.0,10.0,6.0,4.0,3.0,3.0,0.0
2,2022,Norte,1,Rond√¥nia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022,Norte,1,Rond√¥nia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,2022,Norte,1,Rond√¥nia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0

## ü´ß Limpeza dos dados 
### 1. `rend_escolas_2022`:
1.1. Remo√ß√£o de coluna extra de √≠ndice.

1.2. Altera√ß√£o na nomeclatura das colunas.

1.3. Remo√ß√£o das primeiras e √∫ltimas linhas indesejadas.

1.4. Reseta√ß√£o de √≠ndices.

1.5. Retirada do ponto e retorno da parte anterior ao ponto no c√≥digo das escolas, para ficar no mesmo modelo os dois dataframes.

1.6. Convers√£o das colunas para float e tratamento de valores n√£o num√©ricos.

1.7. Descartando linhas com NaN resultantes das convers√µes.

1.8. Soma da taxa de abandono.

1.9. Sele√ß√£o das colunas necess√°rias.

2.0. Renomea√ß√£o das colunas.

2.1. Verifica√ß√£o de dados nulos na coluna `taxa_de_abandono_ensino_medio`.

In [38]:
rend_escolas_2022_df = rend_escolas_2022_original_df.copy()

rend_escolas_2022_df = rend_escolas_2022_df.drop(columns=['Unnamed: 0.1']) 
rend_escolas_2022_df.columns = rend_escolas_2022_df.iloc[7].values 
rend_escolas_2022_df = rend_escolas_2022_df.drop(rend_escolas_2022_df.index[:8]) 
rend_escolas_2022_df = rend_escolas_2022_df.drop(rend_escolas_2022_df.index[-2:])
rend_escolas_2022_df.reset_index(drop=True, inplace=True) 

rend_escolas_2022_df['CO_ENTIDADE'] = rend_escolas_2022_df['CO_ENTIDADE'].astype(str).str.partition('.')[0] 

rend_escolas_2022_df['3_CAT_FUN'] = pd.to_numeric(rend_escolas_2022_df['3_CAT_FUN'], errors='coerce')
rend_escolas_2022_df['3_CAT_MED'] = pd.to_numeric(rend_escolas_2022_df['3_CAT_MED'], errors='coerce')

rend_escolas_2022_df.dropna(subset=['3_CAT_FUN', '3_CAT_MED'], inplace=True)

rend_escolas_2022_df['taxa_de_abandono'] = rend_escolas_2022_df[['3_CAT_FUN', '3_CAT_MED']].sum(axis=1)

rend_escolas_2022_df = rend_escolas_2022_df[['CO_ENTIDADE', 'taxa_de_abandono']] 
rend_escolas_2022_df = rend_escolas_2022_df.rename(columns={'CO_ENTIDADE':'codigo_escola'}) 
rend_escolas_2022_df

       codigo_escola  taxa_de_abandono
4           11024682               9.1
7           11024968               8.6
15          11025638               4.0
17          11037962               0.0
19          11038373               0.0
...              ...               ...
129281      53068068              10.0
129293      53068181               0.0
129300      53082001               0.0
129304      53084055               0.0
129306      53086007               0.6

[20774 rows x 2 columns]

In [26]:
print(rend_escolas_2022_df['taxa_de_abandono'].isnull().sum())

0

### 2. `microdados_ed_basica_2022`:
2.1. Transforma√ß√£o da coluna `CO_ENTIDADE` em string para se igualar ao outro dataframe. 

2.2. Selec√£o das colunas necess√°rias.

2.3. Renomea√ß√£o das colunas.

- Dicion√°rio: Dados das colunas `IN_AGUA_POTAVEL`, `IN_ENERGIA_REDE_PUBLICA`, `IN_ESGOTO_REDE_PUBLICA`, `IN_LIXO_SERVICO_COLETA`, `IN_INTERNET`, `IN_ALIMENTACAO` = 0 : n√£o, 1: sim

In [32]:
ed_basica_2022_df = ed_basica_2022_original_df.copy()

ed_basica_2022_df['CO_ENTIDADE'] = ed_basica_2022_df['CO_ENTIDADE'].astype(str)
ed_basica_2022_df = ed_basica_2022_df[['CO_ENTIDADE', 'IN_AGUA_POTAVEL', 'IN_ENERGIA_REDE_PUBLICA',
                                       'IN_ESGOTO_REDE_PUBLICA', 'IN_LIXO_SERVICO_COLETA', 'IN_INTERNET',
                                       'IN_ALIMENTACAO']]
ed_basica_2022_df = ed_basica_2022_df.rename(columns={'CO_ENTIDADE':'codigo_escola',
                                                      'IN_AGUA_POTAVEL':'agua_filtrada', 
                                                      'IN_ENERGIA_REDE_PUBLICA':'energia',
                                                      'IN_ESGOTO_REDE_PUBLICA':'saneamento_basico',
                                                      'IN_LIXO_SERVICO_COLETA':'coleta_de_lixo',
                                                      'IN_INTERNET':'internet',
                                                      'IN_ALIMENTACAO':'alimentacao'})
ed_basica_2022_df

,codigo_escola,agua_filtrada,energia,saneamento_basico,coleta_de_lixo,internet,alimentacao
0,11022558,1.0,0.0,0.0,0.0,0.0,1.0
1,11024275,1.0,1.0,0.0,1.0,1.0,1.0
2,11024291,1.0,1.0,0.0,0.0,0.0,1.0
3,11024372,1.0,1.0,0.0,1.0,1.0,1.0
4,11024666,1.0,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...
224644,53086007,1.0,1.0,0.0,1.0,1.0,0.0
224645,53087003,NaN,NaN,NaN,NaN,NaN,NaN
224646,53087011,NaN,NaN,NaN,NaN,NaN,NaN
224647,53088000,NaN,NaN,NaN,NaN,NaN,NaN
224648,53088034,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Verifica√ß√£o se h√° c√≥digos de escolas duplicadas

In [39]:
print(rend_escolas_2022_df['codigo_escola'].duplicated().sum())
print(ed_basica_2022_df['codigo_escola'].duplicated().sum())

0
0

## üß± Manipula√ß√£o dos dados
- Mesclando um dataset com outro por meio de `outer` para os dados n√£o serem perdidos e usando a coluna em comum `codigo_escola`.
- Verifica√ß√£o da quantidade de dados nulos nas colunas.
- Como h√° grandes quantidades de dados nulos por causa de escolas que n√£o est√£o em ambos datasets, h√° a deleta√ß√£o das linhas dessas escolas.
- Cria√ß√£o do arquivo csv com os dados manipulados.

In [40]:
ed_brasileira_2022 = rend_escolas_2022_df.merge(ed_basica_2022_df, how='outer', on='codigo_escola')
ed_brasileira_2022

,codigo_escola,taxa_de_abandono,agua_filtrada,energia,saneamento_basico,coleta_de_lixo,internet,alimentacao
0,11024682,9.1,1.0,1.0,0.0,1.0,1.0,1.0
1,11024968,8.6,1.0,1.0,0.0,1.0,1.0,1.0
2,11025638,4.0,1.0,1.0,0.0,1.0,1.0,1.0
3,11037962,0.0,1.0,0.0,0.0,0.0,1.0,1.0
4,11038373,0.0,1.0,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...
224644,53085000,NaN,1.0,1.0,1.0,1.0,1.0,0.0
224645,53087003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224646,53087011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224647,53088000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224648,53088034,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
def verificar_dados_nulos(*colunas):
    for coluna in colunas:
        efetuacao_dados_nulos = ed_brasileira_2022[coluna].isnull().sum()
        nRows_ed_brasileira_2022 = ed_brasileira_2022.shape[0]
        porcentagem = round(efetuacao_dados_nulos * 100 / nRows_ed_brasileira_2022, 2)
        display(Markdown(f"### A quantidade de dados nulos na coluna `{coluna}` √© **{efetuacao_dados_nulos}**, representando **{porcentagem}** % do dataset."))
    
verificar_dados_nulos('taxa_de_abandono', 'agua_filtrada', 'energia', 'saneamento_basico', 'coleta_de_lixo', 'internet', 'alimentacao')

### A quantidade de dados nulos na coluna `taxa_de_abandono` √© **203875**, representando **90.75** % do dataset.

### A quantidade de dados nulos na coluna `agua_filtrada` √© **44576**, representando **19.84** % do dataset.

### A quantidade de dados nulos na coluna `energia` √© **44576**, representando **19.84** % do dataset.

### A quantidade de dados nulos na coluna `saneamento_basico` √© **44576**, representando **19.84** % do dataset.

### A quantidade de dados nulos na coluna `coleta_de_lixo` √© **44576**, representando **19.84** % do dataset.

### A quantidade de dados nulos na coluna `internet` √© **44576**, representando **19.84** % do dataset.

### A quantidade de dados nulos na coluna `alimentacao` √© **44576**, representando **19.84** % do dataset.

In [43]:
ed_brasileira_2022 = ed_brasileira_2022.dropna(subset=['taxa_de_abandono'])

In [44]:
ed_brasileira_2022

,codigo_escola,taxa_de_abandono,agua_filtrada,energia,saneamento_basico,coleta_de_lixo,internet,alimentacao
0,11024682,9.1,1.0,1.0,0.0,1.0,1.0,1.0
1,11024968,8.6,1.0,1.0,0.0,1.0,1.0,1.0
2,11025638,4.0,1.0,1.0,0.0,1.0,1.0,1.0
3,11037962,0.0,1.0,0.0,0.0,0.0,1.0,1.0
4,11038373,0.0,1.0,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...
20769,53068068,10.0,1.0,1.0,0.0,1.0,1.0,1.0
20770,53068181,0.0,1.0,1.0,1.0,1.0,1.0,1.0
20771,53082001,0.0,1.0,1.0,1.0,1.0,1.0,0.0
20772,53084055,0.0,1.0,1.0,1.0,1.0,1.0,0.0
20773,53086007,0.6,1.0,1.0,0.0,1.0,1.0,0.0

In [ ]:
ed_brasileira_2022.to_csv('dados/ed_brasileira_2022.csv')